<div class="row mt-5" style="justify-content: center;">
  <div class="col-md-8 ">
    <!-- cardTitle -->
    <div class="card">
      <div class="card-body text-center">
        <span class="card-title  titleFamily">{{title | uppercase}}</span>
      </div>
    </div>
  </div>
</div>

<!-- cardContent -->
<div class="row mt-3">
  <div class="col-md-8 offset-lg-2">
    <div class="card">
      <div class="card-body ">
        <form [formGroup]="taskControlGroup" (ngSubmit)="addTask()">
          <div class="mb-3">
            <label for="numberInput" class="form-label">Priority Level</label>
            <input type="number" class="form-control" id="numberInput" placeholder="1, 2, 3" formControlName="number">
          </div>
          <div *ngIf="taskControlGroup.get('number')?.hasError('required')" class="text-primary text-end">
            Please enter at least<strong>1 number</strong>
          </div>

          <div class="mb-3">
            <label for="Textarea" class="form-label ">Enter task description</label>
            <textarea class="form-control" id="Textarea" rows="3" minlength="1" maxlength="120"
              formControlName="description"></textarea>
          </div>

          <div *ngIf="taskControlGroup.get('description')?.hasError('required')" class="text-primary text-end">
            Please enter <strong>1 to 120 characters</strong>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <button class="btn btn-secondary" routerLink="/"><i class="fas fa-arrow-left mr-3"></i>GO BACK</button>
            <button type="submit" [disabled]="taskControlGroup.invalid" class="btn btn-primary ml-2"><i
                class="fas fa-plus mr-3"></i>{{btnName | uppercase}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>