<div class="container mb-5">

  <div class="row mt-5" style="justify-content: center;">
    <div class="col-md-8 ">
      <!-- Inicio cardTitle -->
      <div class="card" id="cardTitle">
        <div class="card-body cardTitle">
          <span class="card-title mb-0 titleFamily">{{title | uppercase}}</span>
          <button class="btn btn-primary text-center" routerLink="/create-tasks">
            <i class="fas fa-tasks mr-3"></i>ADD TASK</button>
        </div>
      </div>

      <div *ngIf="taskList.length == 0" class="card mt-2">
        <div class="card-body cardTitle ">
          <h4>No hay usuarios para mostrar</h4>
        </div>
      </div>


      <div *ngIf="taskList.length > 0" class="row mt-4">
        <div *ngFor="let task of taskList; let indice = index" class="col-sm-6 ">
          <div class="card mb-4">
            <div class="card-body ">

              <h4 class="card-title"><b>#{{indice+1}} - Priority: {{task.number}}</b> </h4>
              <p class="card-text">{{task.description}}</p>

              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button [routerLink]="['/edit-tasks',task._id]" class="btn btn-primary">
                  <i class="fas fa-edit text-white"></i></button>
                <button (click)="deleteTask(task._id)" class="btn btn-warning ml-1">
                  <i class="fas fa-trash text-black"></i></button>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- End Row -->


    </div>




  </div>

</div>